.popup__save-btn {
    margin: 48px 36px 37px;
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 2px;
}

@media screen and (max-width: 653px) {

    .popup__save-btn {
        margin: 48px 22px 26px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}