.popup__title {
    margin: 37px 36px 40px;
    max-width: 358px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 653px) {

    .popup__title {
        margin: 26px 22px 70px;
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    }
}